<div class="main" *ngIf="visible">
  <div class="icon" style="margin-left: 38%; margin-bottom: 20px;">
    <div class="s7">
      <img style="position: absolute; width: 80px; height: 80px;" src="./assets/Star 7.png">
    </div>
    <div class="e7">
      <img class="roll" style="position: relative; width: 50px; height: 50px; margin-top: 15px; margin-left: 15px;"
        src="./assets/Ellipse 7.png">
    </div>
  </div>

  <div class="text">
    <h4 class="big">
      Trip is complete!
    </h4>
    <p class="small">Rate the driver's trip on a five point scale</p>
  </div>

  <div style="display: flex; gap:10px; justify-content:center;">
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
  </div>

  <div>
    <button class="done">Done</button>
  </div>
</div>

<!-- <div class="end" *ngIf="visible">
  <div class="pro">
    <img src="./assets/man.png">
    <p>Pravin Vispute</p>
  </div>

  <div style="color: white;" class="text">
    <h4>WOw!A 5 star! </h4>
    <h4>Wanna add tip for Pravin</h4>
  </div>

  <div class="tip">
    <p>$1</p>
    <p>$5</p>
    <p>$10</p>
  </div>

  <button class="done" routerLink="/home">Done</button>

  <p style="font-size: 12px; color: #92949C; text-align: center; margin-top: 20px;">Maybe next time</p>
</div> -->
