<ion-content color="primary">
  <!-- <div class="main">
   
    <p>Settings</p>
  </div> -->

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
              <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="arrow" src="./assets/Caret left.png">
      <ion-title style="margin-left: 150px;">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info">
    <div class="in">
      <p>Phone</p>
      <img style="margin-left: 300px;" src="./assets/right.png">
    </div>
    <hr style="background-color: white;">
    <div class="in">
      <p>Call</p>
      <img style="margin-left: 315px;"  src="./assets/right.png">
    </div>
    <hr style="background-color: white;">
    <div class="in">
      <p>Notifications</p>
      <img style="margin-left: 253px;"  src="./assets/right.png">
    </div>
    <hr style="background-color: white;">
    <div class="in">
      <p>Home Address</p>
      <img style="margin-left: 235px;"  src="./assets/right.png">
    </div>

    <p style="color:#92949C; margin-top: 425px; margin-left: 150px; font-size: 12px; font-weight: 500; ">Version 1.1</p>
  </div>
</ion-content>