<ion-content color="primary">
    <img class="big" src="./assets/Big logo.png">


    <h4 class="text">Phone Number</h4>
    <input routerLink="/phone" type="number" placeholder="+91 1234567890">
         




      <div class="back">
        <p>Or Sign up with:</p> 
        <div class="imgs">
          <img class="fb" src="./assets/Union 1.png" >
          <img class="go" src="./assets/Vector.png">
          <img class="tw" src="./assets/Vector 2.png">  
        </div>
    
        <button color="warning">Login</button>
       </div>
 
   
  </ion-content>

    