    ion-icon{
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 50%;
        --ionicon-stroke-width:16px;
        margin-top: -26%;
    }
    
img{
display: flex;
background-color:  #C4C4C4;
box-shadow: inset 2px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 45px;
height: 45px;
border-radius: 10px;
}
    
.info{
    background-color: #001D55;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
    padding: 20px;
}

