
    <div class="info">
          <p style="color:#92949C; font-size: 12px;">Nashik,Maharashtra</p>   
                 <p style="color: white; font-size: 14px;">to</p>
          <p style="color: white; font-size: 14px;">Pune,Maharashtra</p>
    </div>
<ion-content color="dark" class="ion-padding" >
 <div class="cars" style=" width: 45px; height: 45px; display: flex; gap: 40px; margin-left: 25px;  ">
  <img style="border-radius: 10px;" src="./assets/eco-car 1.png">
  <img src="./assets/sedan (1) 1.png">
  <img src="./assets/sport-car 1.png">
  <img src="./assets/car 1.png">
  <img src="./assets/car (1) 1.png">
 </div>
<ion-button routerLink="/trip-complete" style="margin-top: 40px; font-weight: 700; width: 90%; margin-left: 25px;" color="warning" expand="block">GET A CAR</ion-button>
</ion-content>


