<!-- <ion-header > -->
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <img class="png" src="./assets/taxo.png">
      <img class="dot" src="./assets/Ellipse 1.png">
  </ion-toolbar>
<!-- </ion-header>/ -->



<ion-content color="secondary" class="ion-padding">

    <img class="location" src="./assets/location.png">
    <input class="one" type="text" placeholder="Enter Source">

    <img class="des" src="./assets/destination.png">
    <input class="two" routerLink="/search-destination" type="text" placeholder="Enter Your Destination">
    <capacitor-google-maps #map></capacitor-google-maps>
</ion-content>