ion-slides{
    height: 100%;


}

.head1{
    position: absolute;
    width: 237px;
    height: 114px;
    left: 7px;
    top: 518px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    display: flex;
    flex-wrap: wrap;
}



.slide1{
    position: absolute;
    width: 82.52px;
    height: 93px;
    left: 403px;
    top: 700px;
}

.round{

position: absolute;
width: 321px;
height: 291px;
left: 19px;
top: 110px;
}

.par{
    position: absolute;
    width: 222px;
    height: 42px;
    left: 12px;
    top: 632px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #92949C;
    display: flex;
    flex-wrap: wrap;
}


.logo{
    position: absolute;
    width: 78.09px;
    height: 31.3px;
    left: 165px;
    top: 21.44px;
}

.dot{
    position: absolute;
    width: 7.95px;
    height: 7.95px;
    left: 241.05px;
    top: 21px;
}

.head2{
    position: absolute;
    width: 237px;
    height: 114px;
    left: 7px;
    top: 518px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    display: flex;
    flex-wrap: wrap;
}

.par1{
    position: absolute;
    width: 222px;
    height: 42px;
    left: 12px;
    top: 632px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #92949C;
    display: flex;
    flex-wrap: wrap;
}

.par2{
    position: absolute;
    width: 222px;
    height: 42px;
    left: 12px;
    top: 632px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #92949C;
    display: flex;
    flex-wrap: wrap;
}

.head3{
    position: absolute;
    width: 237px;
    height: 114px;
    left: 7px;
    top: 518px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    display: flex;
    flex-wrap: wrap;
}
